body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background-color: #ff5733;
    padding: 20px;
    color: white;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#cart-items {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    color: #ff5733;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #ff5733;
    color: white;
}

td {
    background-color: #fff;
}

h3 {
    margin-top: 20px;
    font-size: 22px;
}

button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #c44124;
}

#clear-cart {
    display: inline-block;
    background-color: white;
    color: #ff5733;
    padding: 10px 20px;
    border: 2px solid #ff5733;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

#clear-cart:hover {
    background-color: #ff5733;
    color: white;
}
